<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- Meta Charset --}}
    <meta charset="UTF-8">
    {{!-- Meta viewport --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/all.css" />
    <link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />
    {{!-- title --}}
    <title>
        {{#if seo}}
        {{seo}}
        {{else}}
        Home | Coal City TV
        {{/if}}
    </title>
    {{!-- Neta desciption --}}
    {{#if desc}}
    <meta name="description" content="{{desc}}">
    {{else}}
    <meta name="description"
        content="Coal City Tv is an awesome place to get latest gist, news, events and culture happning in town and within the east">
    {{/if}}

    {{#if keywords}}
    <meta name="keywords" content="{{keywords}}">
    {{else}}
    <meta name="keywords"
        content="Blog, Enugu, Gist, CoalCity, coal, city, nigeria, news, updates, school money, how to, read, earn, write, buy, social,coalcitytv, Coal City, Tv, CoalCityTv, Zoba, Zoba De Greate nija, Nija, World, world, Bussines, music, videos, movie">
    {{/if}}
    <meta name="author" content="zoba">
    <style>
        .w-70 {
            width: 20rem;
        }
    </style>
</head>

<body class="bg-pink-100">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=2280789438733811&autoLogAppEvents=1"
        nonce="9d1HQ4U1"></script>
    {{> main/navbar}}
    <div class="max-w-screen-lg mx-auto">
        {{{body}}}
        {{> main/footer}}
    </div>

    <script>
        var mobileMenuButton = document.getElementById("mobileMenuButton");
        mobileMenuButton.onclick = function () {
            document.getElementById("sideMenuHideOnMobile").classList.toggle("-translate-y-full");
            document.getElementById("sideMenuHideOnMobile").classList.toggle("mt-12");
            document.getElementById("sideMenuHideOnMobile").classList.toggle("shadow");
            document.getElementById("mobileMenuButtonClose").classList.toggle("hidden");
            document.getElementById("mobileMenuButtonOpen").classList.toggle("hidden");
        }
        // Hide element when click outside nav
        var theElementContainer = document.getElementsByTagName("nav")[0];
        document.addEventListener('click', function (event) {
            if (!theElementContainer.contains(event.target)) {
                document.getElementById("sideMenuHideOnMobile").classList.add("-translate-y-full");
                document.getElementById("sideMenuHideOnMobile").classList.remove("mt-12");
                document.getElementById("sideMenuHideOnMobile").classList.remove("shadow");
                document.getElementById("mobileMenuButtonOpen").classList.remove("hidden");
                document.getElementById("mobileMenuButtonClose").classList.add("hidden");
            }
        });
    </script>
    <script>
        const date = document.getElementById('date')
        const now = new Date().getFullYear();
        date.innerHTML = now
    </script>
</body>

</html>