<div class="profile-page">
    <section class="relative block" style="height: 400px;">
        <div class="absolute top-0 w-full h-full bg-center bg-cover"
            style='background-image: url("{{user.background}}");'>
            <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
            style="height: 70px; transform: translateZ(0px);">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        <div class="mx-20 py-10">
            {{> errors/message }}
        </div>

    </section>
    <section class="relative py-16 bg-gray-300">
        <div class="container mx-auto px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-pink-100 w-full mb-6 shadow-xl rounded-lg -mt-64">
                <div class="px-6">
                    <div class="flex flex-wrap justify-center">
                        <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
                            <div class="relative">
                                <img alt="..." src="{{user.avatar}}"
                                    class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16"
                                    style="max-width: 150px; height: 150px" />
                            </div>
                        </div>
                        <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
                            <div class="py-6 px-3 mt-32 sm:mt-0">
                                <a href="/admin/user/edit/{{user._id}}"
                                    class="bg-gray-700 active:bg-pink-600 uppercase text-pink-200 font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                                    type="button" style="transition: all 0.15s ease 0s;">
                                    <i class="fas fa-edit fa-lg"></i>
                                </a>
                            </div>
                        </div>
                        <div class="w-full lg:w-4/12 px-2 lg:order-1">
                            <div class="flex justify-center py-4 lg:pt-4 pt-8">
                                <div class="mr-4 p-1 text-center">
                                    <span
                                        class="text-xl font-bold block uppercase tracking-wide text-gray-700">{{formatDate createdAt 'DD-MM-YYYY'}}</span><span
                                        class="text-sm text-gray-500">Joined Date</span>
                                </div>
                                <div class="mr-4 p-1 text-center">
                                    <span
                                        class="text-xl font-bold block uppercase tracking-wide text-gray-700">{{formatDate updatedAt 'DD-MM-YYYY'}}</span><span
                                        class="text-sm text-gray-500">Last Update</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-10">
                        <h3 class="text-4xl font-semibold leading-normal mb-5 text-gray-800">
                            {{user.firstName}} {{user.lastName}}
                        </h3>
                        {{!-- <div class="text-sm leading-normal mt-0 mb-2 text-gray-500 font-bold uppercase">
                            <i class="fas fa-map-marker-alt mr-2 text-lg text-gray-500"></i>
                            {{user.address}}
                        </div> --}}
                        <div class="text-sm leading-normal mt-0 mb-2 text-gray-700 font-bold uppercase">
                            <i class="fas fa-user mr-2 text-lg text-gray-700"></i>
                            {{user.username}}
                        </div>
                        <div class="mb-2 text-gray-700 mt-10">
                            <i class="fas fa-briefcase mr-2 text-lg text-gray-500"></i>Administrator - Coal City TV
                            Director
                        </div>
                        <div class="mb-2 text-gray-700 mt-3">
                            <i class="fas fa-map-marker-alt mr-2 text-lg text-gray-500"></i>{{user.address}}
                        </div>
                        <div class="mb-2 text-gray-700">
                            <i class="fas fa-mobile  mr-2 text-lg text-gray-500"></i>{{user.phone}} <i
                                class="fas fa-envelope ml-2 mr-2 text-lg text-gray-500"></i>{{user.email}}
                        </div>
                    </div>

                    <div class="mt-10 py-10 border-t border-gray-500 text-center">
                        <div class="flex flex-wrap justify-center">
                            <div class="w-full lg:w-9/12 px-4">
                                <p class="mb-4 text-lg leading-relaxed text-gray-800">
                                    {{stripTags   user.bio}}
                                </p>
                                {{!-- <a href="#pablo" class="font-normal text-pink-500">Show more</a> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>