<section class="blog text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        {{!-- 
            <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"> Blog</h1>
                <p class="lg:w-1/2 w-full leading-relaxed text-base">
                    J'aime bien partager mes connaissances et des recherche intéressantes, pour le faire j'ai mis en
                    place
                    un blog personnel.
                    Nous abordons plusieurs sujets intéressants et je donne quelques astuces et conseils aux jeunes
                    développeurs pour mieux s'en sortir. </p>
            </div> --}}
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
            {{#each category}}
            <div class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col justify-center items-center max-w-md max mx-auto">
                {{!-- <div class="bg-gray-300 h-56 w-full rounded-lg shadow-md bg-cover bg-center"
                    style="background-image: url(/img/post2.jpg)">
                </div> --}}
                <div class=" w-70 bg-pink-200 -mt-10 shadow-lg rounded-lg overflow-hidden p-5">

                    <div class="header-content inline-flex ">
                        <div class="category-badge flex-1  h-4 w-4 m rounded-full m-1 bg-purple-100">
                            <div class="h-2 w-2 rounded-full m-1 bg-gray-700 "></div>
                        </div>
                        <div class="category-title flex-1 text-sm">{{category.name}}</div>
                    </div>
                    <div class="p-4 pl-2">
                        <h2 class="font-bold text-2xl text-gray-800">{{title}}</h2>
                    </div>

                    <div class="summary-post text-base text-justify">
                        {{stripTags (truncate content 100)}}
                    </div>
                    <section class="px-4 py-2">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center flex-1">
                                {{!-- <img class="object-cover h-10 rounded-full" src="/img/team.jpg" alt="Avatar" /> --}}
                                <div class="flex flex-col mx-2">
                                    {{!-- <a href="" class="font-semibold text-gray-700 hover:underline">
                                Fajrian Aidil Pratama
                            </a> --}}
                                    <span class="mx-1 text-xs text-gray-600">
                                        {{formatDate createdAt 'DD MMM YYYY'}}
                                    </span>
                                </div>
                            </div>
                            <a href="/posts/{{link}}" class="mt-1 text-xs bg-gray-800 p-2 rounded-md text-pink-300">Read
                                more</a>
                        </div>
                    </section>
                </div>
            </div>
            {{else}}
            <p>No posts to display</p>
            {{/each}}
        </div>
    </div>
</section>