<div class="container" id="alertbox">
    {{#if error}} {{#each error}}
    <div class="container rounded bg-red-700 flex items-center text-white text-sm font-semibold px-4 py-3 relative"
        role="alert">
        <i class="fill-current w-4 h-4 mr-2 fas fa-exclamation-triangle"></i>
        <p>{{this}}.</p>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton">
            <svg class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>
    </div>
    {{/each}}
    {{/if}}

</div>

<div class="container" id="alertbox">
    {{#if error_msg}}
    <div class="container rounded bg-red-700 flex items-center text-white text-sm font-semibold px-4 py-3 relative"
        role="alert">
        <i class="fill-current w-4 h-4 mr-2 fas fa-exclamation-circle"></i>
        <p>{{error_msg}}.</p>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton">
            <svg class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>
    </div>
    {{/if}}

</div>

<div class="container" id="alertbox">
    {{#if warning_msg}}
    <div class="container rounded bg-orange-500 flex items-center text-white text-sm font-semibold px-4 py-3 relative"
        role="alert">
        <i class="fill-current w-4 h-4 mr-2 fas fa-exclamation-triangle"></i>
        <p>{{warning_msg}}.</p>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton">
            <svg class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>
    </div>
    {{/if}}

</div>

<div class="container" id="alertbox">
    {{#if success_msg}}
    <div class="container rounded bg-green-700 flex items-center text-white text-sm font-semibold px-4 py-3 relative"
        role="alert">
        <i class="fill-current w-4 h-4 mr-2 fas fa-check-circle"></i>
        <p>{{success_msg}}.</p>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton">
            <svg class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>
    </div>
    {{/if}}

</div>

<div class="container" id="alertbox">
    {{#if info_msg}}
    <div class="container rounded bg-blue-700 flex items-center text-white text-sm font-semibold px-4 py-3 relative"
        role="alert">
        <i class="fill-current w-4 h-4 mr-2 fas fa-info"></i>
        <p>{{info_msg}}.</p>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton">
            <svg class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>
    </div>
    {{/if}}

</div>